* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

/* variable */
:root {
	--bgcolor-header: #f9f8fb;
	--bgcolor-about: #00b1b0;
	--bgcolor-services: #70bfff;
	--bgcolor-gallery: #ffe92f;
	--bgcolor-subscribe: #ffffff;
	--bgcolor-blog: #b07cf7;
	--color-dark: #262626;
	--color-bright: #fff;
	--color-orange-bright: #ff6033;
	--margin-main: max(11%);
	--button-shadow: #8b8b8b;
	font-family: "Pacifico", cursive;
	font-family: "Raleway", sans-serif;
}
.wrapper {
	margin: 0 auto;
}
/********* HEADER SECTION ************/

.header {
	padding: 0 var(--margin-main);
	width: 100%;
	height: 100vh;
	background-image: url("img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100vh;
	background-color: var(--bgcolor-header);
}

.header__nav {
	height: 147px;
	display: flex;
	flex-direction: row;
	top: 0;
	position: sticky;
	justify-content: space-between;
	align-items: center;
}

.nav__logo a {
	/* flex-basis: 5ch; */
	color: var(--color-dark);
	font-family: "Pacifico";
	font-size: clamp(1rem, 5vw, 3.125rem);
	text-decoration: none;
	font-weight: 400;
}

.nav__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	font-size: 1rem;
}

.nav__item {
	list-style: none;
	padding-top: 5px;
	border-top: 3px solid transparent;
	margin-left: 2vw;
}

.nav__item:hover {
	border-top: 3px solid orangered;
}

.nav__item a {
	text-decoration: none;
	color: var(--color-dark);
}

/* HEADER CONTENT */

.header__content {
	width: 370px;
	margin-top: 250px;
}

.info__title {
	font-size: 3.75rem;
}

.info__content {
	font-size: 1rem;
	margin-top: 2.125em;
	margin-bottom: 2.125em;
	font-weight: 300;
}
/*********** BUTTON ************/
.button {
	height: 55px;
	width: 200px;
	text-transform: uppercase;
	border: none;
	font-family: "Raleway";
	text-align: center;
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--color-bright);
	box-shadow: -2px 2px 7px 0px var(--button-shadow);
	transition: all 0.1s ease-in;
}

.button--orange {
	background-color: var(--color-orange-bright);
}

.button--orange:hover {
	transform: scale(1.05);
	font-size: 1.3rem;
	box-shadow: 0 0 10px var(--button-shadow);
}

.icon-scroll {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 65px;
	animation: scroll 5s linear 1s infinite normal both;
}

@keyframes scroll {
	0% {
		transform: translate(-50%, 0);
	}
	10% {
		transform: translate(-50%, 25%);
	}
	20% {
		transform: translate(-50%, 0);
	}
	89% {
		transform: translate(-50%, 0);
	}
	90% {
		transform: translate(-50%, 25%);
	}
	100% {
		transform: translate(-50%, 0);
	}
}
