@font-face {
	font-family: "Pacifico";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Pacifico"),
		url("https://fonts.cdnfonts.com/s/12846/Pacifico.woff") format("woff");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

:root {
	--bgcolor-header: #f9f8fb;
	--bgcolor-about: #00b1b0;
	--bgcolor-services: #70bfff;
	--bgcolor-gallery: #ffe92f;
	--bgcolor-subscribe: #ffffff;
	--bgcolor-blog: #b07cf7;
	--bgcolor-inputs: rgba(0, 196, 196, 0.5);
	--color-dark: #262626;
	--color-bright: #fff;
	--color-orange-bright: #ff6033;
	--color-red: #f72b3b;
	--color-green: #96b92c;
	--margin-main: max(10px, 10vw);
	--button-shadow: #8b8b8b;
	font-family: "Pacifico", cursive;
	font-family: "Raleway", sans-serif;
	scroll-behavior: smooth;
}
.wrapper {
	margin: 0 auto;
}

.nav {
	height: 80px;
	display: flex;
	flex-direction: row;
	top: 0;
	position: sticky;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	transition: transform 0.3s ease-in-out;
}

.nav.active {
	background-color: #fff;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.nav.slideIn {
	transform: translateY(-80px);
}

.nav__logo a {
	color: var(--color-dark);
	font-family: "Pacifico";
	font-size: clamp(1rem, 5vw, 3.125rem);
	text-decoration: none;
	font-weight: 400;
}

.nav__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	font-size: 1rem;
}

.nav__item {
	list-style: none;
	padding-top: 5px;
	border-top: 3px solid transparent;
	margin-left: 2vw;
}

.nav__item:hover,
.nav__item.active {
	border-top: 3px solid orangered;
}

.nav__item a {
	text-decoration: none;
	color: var(--color-dark);
}

/********* HEADER SECTION ************/

.header {
	position: relative;
	padding: 0 var(--margin-main);
	width: 100%;
	height: 100vh;
	margin-top: -80px;
	background-image: url("img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100vh;
	background-color: var(--bgcolor-header);
}

/*************MOBILE MENU***********************/

.nav__hamburger {
	display: none;
	background-color: transparent;
	width: 35px;
	height: 23px;
	border: none;
	/* display: flex; */
	flex-direction: column;
	justify-content: space-between;
}

.nav__hamburger > span {
	background-color: #000;
	height: 3px;
	width: 35px;
}

/* HEADER CONTENT */

.header__content {
	position: relative;
	width: 370px;
	transform: translateY(-50%);
	top: 50%;
	margin-bottom: 100px;
}

.info__title {
	font-size: 3.75rem;
}

.info__content {
	font-size: 1rem;
	margin-top: 2.125em;
	margin-bottom: 2.125em;
	font-weight: 300;
}
/*********** BUTTON ************/
.button {
	height: 55px;
	width: 200px;
	cursor: pointer;
	text-transform: uppercase;
	border: none;
	font-family: "Raleway";
	text-align: center;
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--color-bright);
	box-shadow: -2px 2px 7px 0px var(--button-shadow);
	transition: 0.1s ease-in;
	transition-property: transform, font-size, box-shadow, background-color;
}

.button--orange {
	background-color: var(--color-orange-bright);
	cursor: pointer;
}

.button--orange:hover {
	transform: scale(1.05);
	font-size: 1.3rem;
	box-shadow: 0 0 10px var(--button-shadow);
}

.icon-scroll {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 65px;
	animation: scroll 3s linear 1s infinite normal none;
}

@keyframes scroll {
	0% {
		transform: translate(-50%, 0);
	}
	10% {
		transform: translate(-50%, 25%);
	}
	20% {
		transform: translate(-50%, 0);
	}
	100% {
		transform: translate(-50%, 0);
	}
}

/*********** ABOUT SECTION ****************/

.about {
	position: relative;
	height: 100vh;
	width: 100%;
	background: no-repeat left/90vh var(--bgcolor-about) url(img/about.png);
	padding: 0 var(--margin-main);
	color: var(--color-bright);
}

.about__info {
	position: absolute;
	width: clamp(18.75rem, 50vw, 500px);
	top: 50%;
	right: var(--margin-main);
	transform: translateY(-50%);
}
.info__title {
	font-size: 5.625rem;
}

/*************** SERVICES SECTION ***************/
.services {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 var(--margin-main);
	background: var(--bgcolor-services) no-repeat 85% 50% url(img/services.png);
	background-size: 50vh;
}

.list__item {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 20px;
	width: 400px;
	height: 100px;
	background-color: var(--color-bright);
	box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.list__description {
	flex-basis: 75%;
}

.list__icon {
	flex-basis: 25%;
	border-left: 1px solid #949292;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.list__icon img {
	width: 47px;
}

.services__title {
	font-size: clamp(10px, 7vw, 5.625rem);
	color: var(--color-bright);
	margin-left: 65px;
}

/************* GALLERY *******************/

.gallery {
	width: 100%;
	background-color: var(--bgcolor-gallery);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery__title {
	font-size: 5.625rem;
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
	margin-bottom: 20px;
}

.gallery__description {
	width: 60%;
	margin: 0 auto;
	font-size: 1.0625rem;
	font-weight: 200;
	text-align: center;
}

.gallery__container {
	display: grid;
	width: 80vw;
	margin: 30px auto 50px auto;
	grid-gap: 30px;
	grid-template-areas:
		"big big big big small small"
		"big big big big small2 small2"
		"med med med med2 med2 med2"
		"med med med med2 med2 med2";
}

.gallery__container > div {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
	transition: 0.2s ease-in-out;
	transition-property: transform, box-shadow;
}

.gallery__container > div:hover {
	transform: scale(1.02);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.gallery__container img {
	display: block;
	width: 100%;
	height: 100%;
}
.gallery__item--big {
	grid-area: big;
}

.gallery__item--med {
	grid-area: med;
}

.gallery__item--med2 {
	grid-area: med2;
}

.gallery__item--small2 {
	grid-area: small2;
}

.gallery__item--small {
	grid-area: small;
}

.button--teal {
	background-color: #5585a2;
	margin: 50px auto 134px auto;
}

.button--teal:hover {
	cursor: pointer;
	background-color: #95bad1;
}

/****************SUBSCRIBE SECTION************************/

.subscribe {
	width: 100%;
	min-height: 486px;
	padding: 10%;
	background: right no-repeat url(img/subscribe.jpg), #fff;
}

.subscribe__title {
	font-family: Raleway;
	font-size: 2.5rem;
	margin-bottom: 19px;
	color: var(--color-dark);
}

.subscribe__descrition {
	font-family: Raleway;
	max-width: 50ch;
	font-size: 1.0625rem;
	font-weight: 200;
	line-height: 1.5em;
	margin-bottom: 30px;
}

.form__intput {
	height: 55px;
	width: 570px;
	padding: 10px;
	font-family: Raleway;
	font-size: 0.9375rem;
	font-weight: 200;
	margin-right: 30px;
	margin-bottom: 10px;
}

.form__intput::placeholder {
	color: #262626;
}

.button--green {
	width: 170px;
	height: 55px;
	background-color: var(--color-green);
}

.button--green:hover {
	background-color: #b0dd29;
}

.sr-only {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

/************** BLOG SECTION *******************/
.blog {
	width: 100%;
	background-color: var(--bgcolor-blog);
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-bright);
}

.blog__title {
	font-family: "Raleway";
	font-size: 5.625rem;
	font-weight: bold;
}

.blog__description {
	width: 60%;
	margin-top: 20px;
	font-size: 1.0625rem;
	font-weight: 200;
	line-height: 1.5625rem;
}

.blog__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 1.875rem;
}

.card {
	height: 310px;
	width: 330px;
	padding: 5px;
	position: relative;
	background-position: center;
	background-size: cover;
	margin: 15px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in-out;
	transition-property: transform;
}

.card:hover {
	transform: scale(1.03);
}

.card--smoothie {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.9)),
		url(img/blog_smoothie.jpg);
}

.card--soup {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.9)),
		url(img/blog_soup.jpg);
}

.card--raspberries {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0.9)),
		url(img/blog_rapberry.jpg);
}

.card__date {
	height: 62px;
	width: 60px;
	padding: 3px;
	position: absolute;
	top: 30px;
	left: 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	text-align: center;
	font-family: "Raleway";
	font-size: 2rem;
	font-weight: 700;
	line-height: 25px;
	color: var(--color-bright);
}

.card__date--month {
	font-size: 1.3125rem;
	font-weight: 900;
	text-transform: uppercase;
}

.card__header {
	position: relative;
	left: 0;
	top: 70%;
	font-size: 1.25rem;
	font-weight: bold;
}

.card__stamp {
	position: absolute;
	bottom: 5%;
	font-size: 0.8125rem;
	font-weight: 200;
}

.button--red {
	margin: 50px auto 120px auto;
	background-color: var(--color-red);
}

.button--red:hover {
	background-color: #fa4352;
}

/**************CONTACT*************************/

.contact {
	background-image: url(img/contact_background.jpg);
	background-size: cover;
	background-position: center;
	padding: 5%;
}

.contact__title {
	font-family: "Raleway";
	font-size: 5.625rem;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 22px;
	text-align: center;
}

.conctact__description {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 42px;
}

.contact__content {
	display: flex;
	justify-content: space-evenly;
}

.contact__form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 10px;
	width: 50%;
}

.contact__input {
	background: var(--bgcolor-inputs);
	height: 50px;
	padding: 15px;
	border: none;
	margin-bottom: 15px;
}

.contact__input:focus {
	background: #00c4c4;
	font-size: 0.9375rem;
	font-weight: bold;
	border: none;
	border-left: 5px solid #355b82;
	padding-left: 10px;
	outline: none;
	box-shadow: inset 0 0 5px 1px #355b82;
}

.message {
	height: 250px;
	resize: none;
}
.contact__input::placeholder {
	font-family: "Raleway";
	font-size: 0.9375rem;
	color: var(--color-bright);
}

.contact__adress {
	line-height: 1.5625rem;
}
.address__header {
	font-family: "Raleway";
	font-size: 1.0625rem;
	font-weight: bold;
	text-transform: uppercase;
	font-style: normal;
}

.address__content {
	text-decoration: none;
	color: var(--color-dark);
	font-size: 1.25rem;
	font-weight: 200;
	font-style: normal;
}

/*******************FOOTER**************************/
.footer {
	height: 90px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--color-dark);
	color: #b9b9b9;
	font-family: "Raleway";
	font-weight: 200;
	text-align: center;
}

.footer > div {
	padding: 5px;
}

.footer__logo {
	font-family: "Pacifico";
	font-size: 1.5625rem;
	font-weight: normal;
}

.footer__madeby,
.footer__copyrights {
	font-size: clamp(0.8rem, 2vw, 1.125rem);
}

.footer__madeby span {
	font-weight: bold;
	color: var(--color-red);
}

/*************** MEDIA QUERIES *****************/
@media screen and (max-width: 1300px) {
	.about__info {
		padding: 10px;
		background-color: rgba(0, 177, 176, 0.6);
	}
}

@media screen and (max-width: 1230px) {
	.about__info {
		position: relative;
		color: var(--color-bright);
		margin: 0 auto;
		text-shadow: none;
		right: auto;
	}

	.subscribe__descrition {
		padding: 1em;
		background-color: rgba(255, 255, 255, 0.6);
	}
}

@media screen and (max-width: 685px) {
	.nav {
		height: 60px;
		justify-content: space-between;
		padding: 0 max(10px, 5vw);
	}

	.nav__menu {
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		margin-top: 60px;
		padding-bottom: 68px;
		width: 100%;
		height: 100vh;
		justify-content: space-evenly;
		flex-direction: column;
		background-color: rgba(255, 255, 255);
		transform-origin: top;
		transform: scaleY(0);
		transition: transform 0.4s ease;
	}

	.nav__menu.active {
		opacity: 1;
		transform-origin: top;
		transform: scaleY(1);
	}

	.nav__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		flex: 1 0 auto;
		border-color: transparent;
		text-align: center;
	}

	.nav__item a {
		padding: 7px;
		width: 100%;
		color: inherit;
	}

	.nav__item:hover,
	.nav__item.active {
		background-color: #ff6033;
		color: #fff;
	}

	.nav__hamburger {
		display: flex;
		cursor: pointer;
		padding: 1px;
	}

	.nav__hamburger.active {
		padding: 0;
	}

	.nav__hamburger > span {
		transition: 0.3s ease;
		transition-property: transform;
	}

	.nav__hamburger.active span:nth-child(1) {
		transform-origin: 50%;
		transform: translateY(10px) rotateZ(45deg);
	}

	.nav__hamburger.active span:nth-child(3) {
		transform-origin: 50%;
		transform: translateY(-10px) rotateZ(-45deg);
	}

	.nav__hamburger.active span:nth-child(2) {
		transform-origin: 50%;
		transform: scale(0);
	}

	.button {
		transform: scale(0.8);
	}

	.header {
		padding: max(10px, 5vh);
		padding-top: 0;
		margin-top: -60px;
	}

	.header__content {
		width: 80%;
	}

	.icon-scroll {
		transform: scale(0.8);
		bottom: 35px;
	}

	.services {
		height: auto;
		flex-direction: column;
		padding: max(10px, 5vh);
		background-size: 60%;
		background-position: center;
	}

	.list__item {
		width: 60vw;
		height: 70px;
	}

	.services__title {
		margin-left: 0;
		order: -1;
	}

	/************* GALLERY ********************/

	.gallery__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.gallery__title {
		padding-top: 40px;
	}

	.button--teal {
		margin: 0 auto 40px auto;
	}

	.gallery__container > div {
		width: 80%;
	}
	/*********SUBSCRIBE**********************/

	.subscribe {
		width: 100%;
		min-height: 486px;
		padding: 10%;
		background: right no-repeat url(img/subscribe.jpg), #fff;
	}

	.form__intput {
		width: 100%;
		margin-right: auto;
	}

	/**************** CONTACT **************************/

	.contact__content {
		flex-direction: column;
	}

	.contact__form,
	.contact__adress {
		margin: 0 auto;
		width: 90%;
	}
}

@media screen and (max-width: 429px) {
	.info__title,
	.contact__title,
	.gallery__title {
		font-size: 4.25rem;
	}

	.blog__cards > div {
		width: 100%;
	}

	.button--red {
		margin-bottom: 50px;
	}
}
