* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1rem;
}

/* variable */
:root {
	--bgcolor-header: #f9f8fb;
	--bgcolor-about: #00b1b0;
	--bgcolor-services: #70bfff;
	--bgcolor-gallery: #ffe92f;
	--bgcolor-subscribe: #ffffff;
	--bgcolor-blog: #b07cf7;
	--color-dark: #262626;
	--color-bright: #fff;
	--color-orange-bright: #ff6033;
	--margin-main: max(11%);
	--button-shadow: #8b8b8b;
	font-family: "Pacifico", cursive;
	font-family: "Raleway", sans-serif;
	scroll-behavior: smooth;
}
.wrapper {
	margin: 0 auto;
}
/********* HEADER SECTION ************/

.header {
	padding: 0 var(--margin-main);
	width: 100%;
	height: 100vh;
	background-image: url("img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100vh;
	background-color: var(--bgcolor-header);
}

.header__nav {
	height: 147px;
	display: flex;
	flex-direction: row;
	top: 0;
	position: sticky;
	justify-content: space-between;
	align-items: center;
}

.nav__logo a {
	/* flex-basis: 5ch; */
	color: var(--color-dark);
	font-family: "Pacifico";
	font-size: clamp(1rem, 5vw, 3.125rem);
	text-decoration: none;
	font-weight: 400;
}

.nav__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	font-size: 1rem;
}

.nav__item {
	list-style: none;
	padding-top: 5px;
	border-top: 3px solid transparent;
	margin-left: 2vw;
}

.nav__item:hover {
	border-top: 3px solid orangered;
}

.nav__item a {
	text-decoration: none;
	color: var(--color-dark);
}

/* HEADER CONTENT */

.header__content {
	width: 370px;
	top: 50%;
}

.info__title {
	font-size: 3.75rem;
}

.info__content {
	font-size: 1rem;
	margin-top: 2.125em;
	margin-bottom: 2.125em;
	font-weight: 300;
}
/*********** BUTTON ************/
.button {
	height: 55px;
	width: 200px;
	text-transform: uppercase;
	border: none;
	font-family: "Raleway";
	text-align: center;
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--color-bright);
	box-shadow: -2px 2px 7px 0px var(--button-shadow);
	transition: all 0.1s ease-in;
}

.button--orange {
	background-color: var(--color-orange-bright);
	cursor: pointer;
}

.button--orange:hover {
	transform: scale(1.05);
	font-size: 1.3rem;
	box-shadow: 0 0 10px var(--button-shadow);
}

.icon-scroll {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 65px;
	animation: scroll 3s linear 1s infinite normal none;
}

@keyframes scroll {
	0% {
		transform: translate(-50%, 0);
	}
	10%{
		transform: translate(-50%, 25%);
	}
	20%{
		transform: translate(-50%, 0);
	}
	100% {
		transform: translate(-50%, 0);
	}
}


/*********** ABOUT SECTION ****************/

.about{
	position: relative;
	height: 100vh;
	width: 100%;
	background: no-repeat left/90vh var(--bgcolor-about) url(img/about.png);
	padding: 0 var(--margin-main);
	color: var(--color-bright);
}

.about__info{
	position: absolute;
	width: clamp(18.75rem, 50vw, 500px);
	top: 50%;
	right: var(--margin-main);
	transform: translateY(-50%);
}

.about__info .info__title{
	font-size: 5.625rem;
}


/*************** SERVICES SECTION ***************/
.services {
	width: 100%;
	height: 100vh;
	display:flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 var(--margin-main);
	background: var(--bgcolor-services) no-repeat  85% 50% url(img/services.png);
	background-size: 50vh;
}

.list__item{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items:center;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 20px;
	width: 400px;
	height: 100px;
	background-color: var(--color-bright);
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.5);
}

.list__description{
	flex-basis: 75%;
}

.list__icon{
	flex-basis: 25%;
	border-left: 1px solid #949292;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.list__icon img{
	width: 47px;
}

.services__title{
	font-size: clamp(10px, 7vw, 5.625rem);
	color: var(--color-bright);
	margin-left: 65px;
	
}

.gallery{
	width: 100%;
	background-color: var(--bgcolor-gallery);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery__title{
	font-size: 5.625rem;
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
	margin-bottom: 20px;
}

.gallery__description{
	width: 60%;
	margin: 0 auto;
	font-size: 1.0625rem;
	font-weight: 200;
	text-align: center;
}

.gallery__container{
	display: grid;
	width: 80vw;
	margin: 30px auto 50px auto;
	grid-gap: 30px;
	grid-template-areas: "big big big big small small"
						 "big big big big small2 small2"
						 "med med med med2 med2 med2"
						 "med med med med2 med2 med2";
}

.gallery__container > div {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in-out;
}

.gallery__container > div:hover {
	transform:scale(1.02);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.gallery__container img{
	display: block;
	/* object-fit: cover; */
	width: 100%;
}
.gallery__item--big{
	grid-area: big;
}

.gallery__item--med{
	grid-area: med;
}

.gallery__item--med2{
	grid-area: med2;
}

.gallery__item--small2{
	grid-area: small2;
}

.gallery__item--small{
	grid-area: small;
}

.button--teal{
	background-color: #5585A2;
	margin: 50px auto 134px auto;
}

.button--teal:hover{
	cursor: pointer;
	background-color: #95bad1
}